@font-face {
  font-family: "neon";
  src: url("./fonts/neon.woff2") format("woff2"),
      url("./fonts/neon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.neon {
  @apply text-red-600 text-5xl;
  font-family: neon;
  text-shadow: 0 0 3vw #f56565;
}

@screen md {
  .neon {
    @apply text-6xl;
  }
}

@screen lg {
  .neon {
    @apply text-8xl;
  }
}

@screen xl {
  .neon {
    @apply text-10xl;
  }
}
