<section class="container px-4 md:px-6">
  <SectionTitle
    @title="About us"
  />

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 lg:gap-8 xl:gap-12">
    <div>
      <p class="mb-4">Co-founded by Denis Toledo in April 9, 2017 amet consectetur adipisicing elit. Velit, maiores officiis praesentium quo deleniti quisquam cupiditate odio aspernatur atque porro assumenda nulla delectus voluptatem repellendus nesciunt et suscipit minus distinctio!</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit, maiores officiis praesentium quo deleniti quisquam cupiditate odio aspernatur atque porro assumenda nulla delectus voluptatem repellendus nesciunt et suscipit minus distinctio!</p>
    </div>

    <div>
      <div class="rounded border-gray-700 border p-4 flex flex-col">
        <div class="mb-8">
          <h1 class="text-sm text-gray-600 flex items-center">Tattoo community</h1>
          <h2 class="text-gray-400 font-bold text-xl mb-2">A place for tattoers and tattoo lovers</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.</p>
        </div>
        <a
          href="https://www.instagram.com/denistoledo.dev/"
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex items-center"
        >
          <img class="w-10 h-10 rounded-full mr-2" src="assets/images/denis-toledo.jpg" alt="Denis Toledo">
          <div class="text-sm">
            <p class="text-white">Denis Toledo</p>
            <p class="text-gray-600">Co-founder</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>