<section class="jumbotron py-16 lg:py-24 border-b border-gray-700" data-test-jumbotron>
  <div class="container px-4 md:px-6 min-h-halfscreen flex flex-col landscape:flex-row">
    <div class="flex items-center justify-center flex-1 landscape:order-2">
      <Neon data-test-jumbotron="neon" />
    </div>
    <div class="text-white font-thin landscape:self-end landscape:flex-1 landscape:order-1">
      <h1
        class="text-3xl md:text-4xl lg:text-6xl landscape:text-3xl uppercase mb-4"
        data-test-jumbotron="title"
      >
        Sharing daily <br>
        the world's <br>
        greatest tattoos
      </h1>
      <h2
        class="text-xl md:text-2xl lg:text-3xl text-gray-500 mb-8"
        data-test-jumbotron="subtitle"
      >
        Awesome ideas for your next tattoo.
      </h2>
      <a
        href="https://www.instagram.com/sharedtattoo/"
        target="blank"
        class="bg-transparent hover:bg-gray-800 border border-gray-700 text-gray-500 lg:text-lg py-4 px-8 rounded inline-block"
        data-test-jumbotron="instagram-link"
      >
        follow on instagram
      </a>
    </div>
  </div>
</section>