<section class="container px-4 md:px-6">
  <SectionTitle
    @title="Most liked tattoos"
    @icon="trophy"
    class="text-yellow-500"
  />

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8 xl:gap-12 my-4">
    <CardMostLiked
      @href="https://www.instagram.com/p/Br6UnoiAEBm/?utm_source=ig_web_copy_link"
      @src="assets/images/best-of-2019-shared-tattoo.jpg"
      @alt="Most liked tattoo of 2019"
      @year="Best of 2019"
      @description="Khail Aitken (@khailtattooer) is an artist based in Perth, the capital and largest city of the Australian state of Western Australia, with more than 70k followers on Instagram."
      @date="December 27"/>

    <CardMostLiked
      @href="https://www.instagram.com/p/Br6UnoiAEBm/?utm_source=ig_web_copy_link"
      @src="assets/images/best-of-2019-shared-tattoo.jpg"
      @alt="Most liked tattoo of 2018"
      @year="Best of 2018"
      @description="Khail Aitken (@khailtattooer) is an artist based in Perth, the capital and largest city of the Australian state of Western Australia, with more than 70k followers on Instagram."
      @date="September 17"/>

    <CardMostLiked
      @href="https://www.instagram.com/p/BZJiL2yAnIz/?utm_source=ig_web_button_share_sheet"
      @src="assets/images/best-of-2017-shared-tattoo.jpg"
      @alt="Most liked tattoo of 2017"
      @year="Best of 2017"
      @description="Oozy (@oozy_tattoo) is an artist based in Seoul, the capital and largest metropolis of South Korea, with more than 600k followers on Instagram."
      @date="September 17"/>
  </div>
</section>