<div class="relative bg-blue-300" style={{this.style}} ...attributes>
  <div class="absolute inset-0">
    <img
      src={{@imgSrc}}
      alt={{@imgAlt}}
      class="absolute object-cover w-full h-full">
  </div>
</div>