<div class="container px-4 md:px-6">
  <header class="py-4 md:py-6">
    <div class="flex items-center">
      <img src="assets/images/shared-tattoo-logo.svg" class="h-8 md:h-10 lg:h-12" alt="Shared Tattoo">
      <h1 class="text-white uppercase text-sm md:text-base lg:text-lg xl:text-xl ml-2">Shared Tattoo</h1>
    </div>
  </header>
</div>