<header class="bg-gray-900 h-16 px-4 md:px-6 flex items-center fixed z-10 w-screen shadow-lg">
  <div class="flex items-center flex-1">
    <img src="assets/images/shared-tattoo-logo.svg" class="h-10" alt="Shared Tattoo">
    <h1 class="text-white text-sm md:text-base lg:text-xl font-thin uppercase ml-2">Shared Tattoo</h1>
  </div>
</header>

<main class="pt-16 grid gap-16 lg:gap-24 min-h-screen text-gray-400">
  {{outlet}}
</main>
