<div class="container px-4 md:px-6">
  <header class="flex items-center py-4 md:py-6">
    <div class="flex items-center flex-1">
      <img src="assets/images/shared-tattoo-logo.svg" class="h-8 md:h-10 lg:h-12" alt="Shared Tattoo">
      <h1 class="text-white uppercase text-sm md:text-base lg:text-lg xl:text-xl ml-2">Shared Tattoo</h1>
    </div>
    <a href="https://www.instagram.com/sharedtattoo/" target="blank" class="bg-yellow-500 hover:bg-yellow-600 text-black py-2 px-4 rounded">
      <FaIcon @icon="hashtag" /> instagram
    </a>
  </header>
</div>