<header class="bg-gray-900 h-16 px-4 md:px-6 flex items-center fixed z-10 w-screen shadow-lg">
  <div class="flex items-center flex-1">
    <img src="assets/images/shared-tattoo-logo.svg" class="h-10" alt="Shared Tattoo">
    <h1 class="text-white text-sm md:text-base lg:text-xl font-thin uppercase ml-2">Shared Tattoo</h1>
  </div>
</header>

<main class="pt-16 grid gap-16 lg:gap-24 min-h-screen text-gray-400">
  {{outlet}}
</main>

<footer class="w-screen bg-gray-800 mt-16 lg:mt-24 py-4 md:py-6">
  <div class="container px-4 md:px-6">
    <SectionTitle
      @title="Footer"
    />
    <div class="">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni minus quasi corporis unde pariatur suscipit, deleniti, nemo, nam dolor commodi consequuntur distinctio exercitationem porro quaerat! Ratione fugit deleniti maxime perspiciatis?</p>
    </div>
  </div>
</footer>