<Jumbotron />

<section class="container px-4 md:px-6">
  <SectionTitle
    @title="Most liked tattoos"
    @icon="trophy"
    class="text-yellow-500"
  />

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8 xl:gap-12 my-4">
    <CardMostLiked
      @href="https://www.instagram.com/p/Br6UnoiAEBm/?utm_source=ig_web_copy_link"
      @src="assets/images/best-of-2019-shared-tattoo.jpg"
      @alt="Most liked tattoo of 2019"
      @year="Best of 2019"
      @description="Khail Aitken (@khailtattooer) is an artist based in Perth, the capital and largest city of the Australian state of Western Australia, with more than 70k followers on Instagram."
      @date="December 27"/>

    <CardMostLiked
      @href="https://www.instagram.com/p/Br6UnoiAEBm/?utm_source=ig_web_copy_link"
      @src="assets/images/best-of-2019-shared-tattoo.jpg"
      @alt="Most liked tattoo of 2018"
      @year="Best of 2018"
      @description="Khail Aitken (@khailtattooer) is an artist based in Perth, the capital and largest city of the Australian state of Western Australia, with more than 70k followers on Instagram."
      @date="September 17"/>

    <CardMostLiked
      @href="https://www.instagram.com/p/BZJiL2yAnIz/?utm_source=ig_web_button_share_sheet"
      @src="assets/images/best-of-2017-shared-tattoo.jpg"
      @alt="Most liked tattoo of 2017"
      @year="Best of 2017"
      @description="Oozy (@oozy_tattoo) is an artist based in Seoul, the capital and largest metropolis of South Korea, with more than 600k followers on Instagram."
      @date="September 17"/>
  </div>
</section>

<section class="container px-4 md:px-6">
  <SectionTitle
    @title="About us"
  />

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 lg:gap-8 xl:gap-12 my-4">
    <div>
      <p class="mb-4">Co-founded by Denis Toledo in April 9, 2017 amet consectetur adipisicing elit. Velit, maiores officiis praesentium quo deleniti quisquam cupiditate odio aspernatur atque porro assumenda nulla delectus voluptatem repellendus nesciunt et suscipit minus distinctio!</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit, maiores officiis praesentium quo deleniti quisquam cupiditate odio aspernatur atque porro assumenda nulla delectus voluptatem repellendus nesciunt et suscipit minus distinctio!</p>
    </div>

    <div class="flex">
      <div
        class="hidden md:block rounded-l border-gray-700 border-b border-l border-t h-auto w-2/3 bg-cover bg-center bg-no-repeat overflow-hidden"
        style="background-image: url(assets/images/avatar-shared-tattoo.jpg)"
        role="img"
        aria-label="First avatar Shared Tattoo"
      ></div>

      <div class="rounded md:rounded-l-none border-gray-700 border md:border-l-0 p-4 flex flex-col justify-between">
        <div class="mb-8">
          <h1 class="text-sm text-gray-600 flex items-center">Tattoo community</h1>
          <h2 class="text-gray-400 font-bold text-xl mb-2">A place for tattoers and tattoo lovers</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.</p>
        </div>
        <a
          href="https://www.instagram.com/denistoledo.dev/"
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex items-center"
        >
          <img class="w-10 h-10 rounded-full mr-2" src="assets/images/denis-toledo.jpg" alt="Denis Toledo">
          <div class="text-sm">
            <p class="text-white">Denis Toledo</p>
            <p class="text-gray-600">Co-founder</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>